data/
cache/
model_ckpts/
slurm*
wandb/
*.log
src/.ipynb_checkpoints/
src/.ipynb_checkpoints/*
src/.ipynb_checkpoints/*/*
cache/*
result*.txt
binomial*
src/eval/plots/
**/__pycache__/*
results/
tests/
paper/
gca_bad_prompt.txt
.venv/
paper_misc/*.mp4
paper_misc/*.pdf
